<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <!--外部创建的shiroDbRealm类-->
        <property name="realm" ref="shiroDbRealm"/>
        <!--缓存控制器，每点一次菜单，就要到数据库中查询判断有没有权限-->
        <property name="cacheManager" ref="cacheManager"/>
    </bean>
    <!--缓存控制器-->
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>
    <!--生命周期管理器-->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>


    <!--web.xml中的filter是委托spring做的，通过id与web.xml中的filter-name对应来产生联系-->
    <bean id="shiroFilter"
          class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <!--登录地址，自动判断用户是否登录，未登录弹回的地址,该地址不认证也能访问-->
        <property name="loginUrl" value="/"/>
        <!--登录成功后的地址-->
        <property name="successUrl" value="/home"/>
        <!--没有权限给用户提示的页面-->
        <property name="unauthorizedUrl" value="/403"/>
        <!--
        权限配置（从上往下匹配）
        anon，不需要认证，不登录页可以访问（上面配置的loginUrl同样不登录也能访问）
        authc，需要认证，访问的url必须要登录才能访问
        微信初始化匿名可访问
        -->
        <property name="filterChainDefinitions">
            <value>
                /wx/init = anon
                /static/** = anon
                /setting/** = roles[role_admin]
                /** = authc
            </value>
        </property>
    </bean>


</beans>