<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace命名空间（包名）最好与对应的java接口一模一样-->
<mapper namespace="com.gys.mapper.AdminMapper">
    <!--<cache/>-->
    <!--id方法名parameterType参数类型resultType返回类型（完全限定名，若使用别名，需要在根目录mybatis.xml中注册别名）-->
    <select id="findById" parameterType="int" resultType="com.gys.pojo.Admin">
        SELECT * FROM t_admin WHERE id = #{id}
    </select>
    <select id="findAll" resultType="com.gys.pojo.Admin">
        SELECT * FROM t_admin
    </select>



    <select id="findByUsernameAndPassword1" resultType="com.gys.pojo.Admin">
        SELECT * FROM t_admin WHERE username = #{param1} and password = #{param2}
    </select>
    <select id="findByUsernameAndPassword2" resultType="com.gys.pojo.Admin">
        SELECT * FROM t_admin WHERE username = #{name} and password = #{pwd}
    </select>
    <select id="findByUsernameAndPassword3" resultType="com.gys.pojo.Admin">
        SELECT * FROM t_admin WHERE username = #{username} and password = #{password}
    </select>
    <select id="findByUsernameAndPassword4" resultType="com.gys.pojo.Admin">
        SELECT * FROM t_admin WHERE username = #{name} and password = #{pwd}
    </select>


    <select id="findByParam1" resultType="com.gys.pojo.Admin">
        SELECT * FROM t_admin
        <where>
            /*if() else if()*/
            <if test="username != null and username != ''">
                username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
        </where>
    </select>
    <select id="findByParam2" resultType="com.gys.pojo.Admin">
        SELECT * FROM t_admin
        <where>
            /*do where case*/
            <choose>
                <when test="username != null and username != ''">
                    username = #{username}
                </when>
                <when test="password != null and password != ''">
                    password = #{password}
                </when>
                <otherwise>
                </otherwise>
            </choose>
        </where>
    </select>
    <select id="findByParam3" resultType="com.gys.pojo.Admin">
        SELECT * FROM t_admin
        <trim prefix="where" prefixOverrides="and|or">
            <if test="username != null and username != ''">
                username = #{username}
            </if>
            <if test="password != null and password != ''">
                and password = #{password}
            </if>
        </trim>
    </select>
    <select id="findByIds" resultType="com.gys.pojo.Admin">
        SELECT * FROM t_admin WHERE id IN
        <foreach collection="list" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>


    <insert id="save" parameterType="Admin">
        INSERT into t_admin(username,password) VALUES (#{username},#{password})
    </insert>

    <update id="update" parameterType="Admin">
        UPDATE t_admin SET username=#{username},password=#{password} WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM t_admin WHERE id = #{id}
    </delete>

</mapper>